<div style="padding: 25px;">
    <div class="mat-display-2">Angular material first Exercise</div>

    <!-- TYPOGRAPHY -->
    <!-- <div class="mat-display-4">Mat display 4</div>
    <div class="mat-display-3">Mat display 3</div>
    <div class="mat-display-2">Mat display 2</div>
    <div class="mat-display-1">Mat display 1</div>

    <div class="mat-headline">Heading like h1</div>
    <div class="mat-title">Heading like h2</div>
    <div class="mat-subheading-2">Heading like h3</div>
    <div class="mat-subheading-1">Heading like h4</div>

    <div class="mat-body-1">This is body text</div>
    <div class="mat-body-2">This is bold body text</div>
    <div class="mat-caption">This is caption text</div>

    <div class="mat-typography">
        <h1>This is heading for h1</h1>
        <h2>This is heading for h2</h2>
        <h3>This is heading for h3</h3>
        <h4>This is heading for h4</h4>
    </div> -->

    <h1>Material buttons</h1>
    <div>
        <button mat-button>Hello world</button>
        <button mat-raised-button>Hello world</button>
        <button mat-flat-button>Hello world</button>
        <button mat-stroked-button>Hello world</button>
    </div>
    <br>

    <h1>Icons</h1>
    <div>
        <button class="mat-icon-button">Icon</button>
        <button class="mat-fab">Icon</button>
        <button class="mat-mini-fab">Icon</button>
    </div>
    <div>
        <!-- Go to https://material.io/tools/icons -->
        <mat-icon color = 'primary'>home</mat-icon>
    </div>
    <br>

    <h1>Buttons with colors</h1>
    <div>
        <button color="primary" mat-button>Primary</button>
        <button color="accent" disableRipple mat-button>Accent</button>
        <button color="warn" mat-button>Warn</button>
        <button color="primary" mat-raised-button>Primary</button>
        <button color="accent" mat-raised-button>Accent</button>
        <button color="warn" mat-raised-button>Warn</button>
    </div>
    <br>

    <h1>Toggle Button</h1>
    <div>
        <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
        {{toggleBtn.checked}}
    </div>
    <br>

    <h2>Toggle Button example</h2>
    <div>
        <mat-button-toggle-group #toggleGroup = 'matButtonToggleGroup' multiple>
            <mat-button-toggle value = "angular">Angular</mat-button-toggle>
            <mat-button-toggle value = "react">React</mat-button-toggle>
            <mat-button-toggle value = "vue">Vue</mat-button-toggle>
        </mat-button-toggle-group>
        {{toggleGroup.value}}
    </div>
    <br>

    <h1>Badges</h1>
    <div style="display: flex; 
                justify-content: space-around;">
        <span [matBadge]="nots" [matBadgeHidden]="nots == 0">Notifications</span>
        <span matBadge="5" matBadgePosition="below before">Notifications</span>
        <span matBadge="5" matBadgePosition="below after">Notifications</span>
        <span matBadge="5" matBadgePosition="above before">Notifications</span>
    </div>
    <div style="padding-top: 30px;
                display: flex; 
                justify-content: space-around;">
        <span matBadge="5" matBadgeSize="small">Notifications</span>
        <span matBadge="5" matBadgeSize="medium">Notifications</span>
        <span matBadge="5" matBadgeSize="large">Notifications</span>
    </div>
    <div style="padding-top: 30px;
                display: flex; 
                justify-content: space-around;">
        <span matBadge="5" matBadgeColor="primary">Notifications</span>
        <span matBadge="5" matBadgeColor="accent">Notifications</span>
        <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">
            Notifications
        </span>
    </div>
    <br>

    <h1>Progress spinner and spinner</h1>
    <div style="display: flex;
                justify-content: space-around;">
        <mat-progress-spinner value="15 "></mat-progress-spinner>
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div>
    <button (click)="loadData()" mat-raised-button>
        Load spinner
    </button>
    <br><br>

    <h1>Toolbar</h1>
    <div>
        <mat-toolbar color="warn" style="display: flex; 
        justify-content: space-between;">
            <div>Codevolution</div>
            <div>
                <span class="nav-item">Home</span>
                <span class="nav-item">About</span>
                <span class="nav-item">Services</span>
            </div>

        </mat-toolbar>
    </div>
    <br>

    <h1>Sidenav</h1>
    <mat-sidenav-container style="height: 100%;">
        <!-- mode is on default over, otherwise can be push or side -->
        <mat-sidenav 
        mode="side" 
        #sidenav 
        [(opened)]="opened"
        (opened)="log('opened')"
        (closed)="log('closed')"
        style="padding: 16px;
            background-color: salmon;">
            Sidenav content
        </mat-sidenav>
        <mat-sidenav-content style="padding: 16px">
            Main content
            <button mat-raised-button (click)="opened=!opened">Toggle nav</button>
            <button mat-raised-button (click)="sidenav.open()">Open</button>
            <button mat-raised-button (click)="sidenav.close()">Close</button>
            <button mat-raised-button (click)="sidenav.toggle()">Toggle</button>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <br>

    <h1>Menu</h1>
    <mat-menu #menu="matMenu" xPosition="after" yPosition="above">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Front end</button>
        <button mat-menu-item>Back end</button>
    </mat-menu>

    <button class="buttonMenu" mat-flat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
    </mat-menu>

    <mat-menu #lazyMenu="matMenu">
        <ng-template matMenuContent let-name="name" let-hobby="hobby">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Hobby is {{hobby}}</button>
            <button mat-menu-item>Log out {{name}}</button>
        </ng-template>
    </mat-menu>

    <button mat-raised-button 
    [matMenuTriggerData]="{name: 'Vishwas', hobby: 'football'}"
    [matMenuTriggerFor]="lazyMenu">
        Vishwas
    </button>
    <button
    mat-raised-button 
    [matMenuTriggerData]="{name: 'Codevolution',  hobby: 'watch movies'}"
    [matMenuTriggerFor]="lazyMenu">
        Codevolution
    </button>
    <br>

    <h1>Lists</h1>
    <mat-list dense>
        <mat-list>Item 1</mat-list>
        <mat-list>Item 2</mat-list>
        <mat-list>Item 3</mat-list>
    </mat-list>
    
    <mat-nav-list>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Services</a>
    </mat-nav-list>

    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h3 mat-line>Heading</h3>
            <p matLine>Line</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListIcon>folder</mat-icon>
            <h3 mat-line>Heading</h3>
            <p matLine>Line</p>
        </mat-list-item>
    </mat-list>
    <br>

    <h1>Grid list</h1>
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
        <mat-grid-tile colspan="2">Tile 2</mat-grid-tile>
        <mat-grid-tile>Tile 3</mat-grid-tile>
        <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>




</div>
