<div class="mat-display-2">Angular material first Exercise</div>

<!-- TYPOGRAPHY -->
<!-- <div class="mat-display-4">Mat display 4</div>
<div class="mat-display-3">Mat display 3</div>
<div class="mat-display-2">Mat display 2</div>
<div class="mat-display-1">Mat display 1</div>

<div class="mat-headline">Heading like h1</div>
<div class="mat-title">Heading like h2</div>
<div class="mat-subheading-2">Heading like h3</div>
<div class="mat-subheading-1">Heading like h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
    <h1>This is heading for h1</h1>
    <h2>This is heading for h2</h2>
    <h3>This is heading for h3</h3>
    <h4>This is heading for h4</h4>
</div> -->

<h1>Material buttons</h1>
<div>
    <button mat-button>Hello world</button>
    <button mat-raised-button>Hello world</button>
    <button mat-flat-button>Hello world</button>
    <button mat-stroked-button>Hello world</button>
</div>
<br>

<h1>Icons</h1>
<div>
    <button class="mat-icon-button">Icon</button>
    <button class="mat-fab">Icon</button>
    <button class="mat-mini-fab">Icon</button>
</div>
<div>
    <!-- Go to https://material.io/tools/icons -->
    <mat-icon color = 'primary'>home</mat-icon>
</div>
<br>

<h1>Buttons with colors</h1>
<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" disableRipple mat-button>Accent</button>
    <button color="warn" mat-button>Warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>
<br>

<h1>Toggle Button</h1>
<div>
    <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>
<br>

<h2>Toggle Button example</h2>
<div>
    <mat-button-toggle-group #toggleGroup = 'matButtonToggleGroup' multiple>
        <mat-button-toggle value = "angular">Angular</mat-button-toggle>
        <mat-button-toggle value = "react">React</mat-button-toggle>
        <mat-button-toggle value = "vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>

